PORT=
NODE_ENV=development
MONGO_URI=
JWT_SECRET=
JWT_EXPIRE=30d
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FRONTEND_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
PLATFORM_COMMISSION_PERCENT=10
MIN_PAYOUT_AMOUNT=100
